.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f4f7fe;
  color: #2b3674;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  overflow-y: auto;
  padding: 0 32px 32px 32px;
}
